# すべてのファイルを無視
# さらに、ドットから始まる設定ファイルを無視
/*
/.*

# "無視したくないファイル"は以下に"![ファイル名]"で指定
##### Gitで管理するファイルリスト #####
!/.gitignore
!/.github
!/.zsh/.zshrc
!/.zsh/.zshenv
!/.zsh.d
!/setup.zsh
!/README.md
!/PULL_REQUEST_TEMPLATE.md

# 上記に"無視したくないファイル"としてリスト化した中から、さらに"無視したいファイル"を指定
